//variables
$primary : #15463D;
$secondary : #97BC62;
$info: #1c92d4;
$success: #1ac44a;
$warning: #eaa912;
$danger: #c91b1b;
$white: #ffffff;
$dark: #000000;
$semi: #EFF2FE;
$meta: #def4fc;
$alice: #F0F8FF;
